### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.classpath
.project
.settings/
.springBeans
.sts4-cache
bin/

### Logs ###
*.log
logs/

### Temp files ###
*.tmp
*.temp
temp/

### OS files ###
.DS_Store
Thumbs.db
