
spring:
  application:
    name: loan-calculator
  datasource:
    url: jdbc:postgresql://localhost:5432/loan_calculator
    username: user
    password: pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.leanpay.loancalculator: DEBUG
